<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Font Fit</title>
    <style>
      .container {
        width: 500px;
        height: 500px;
        resize: horizontal;
        overflow: hidden;
        container-type: inline-size;
        background-color: cadetblue;
      }
      .container .text {
        text-align: center;
        font-size: 10cqh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p class="text">永远爱宝子，哈哈</p>
    </div>
  </body>
</html>
